<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico'/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <title>{% set title=title or "PyBlog" %} {{ title }}</title>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu"
              aria-expanded="false"><span class="sr-only">Toggle Navigation Menu</span><span
          class="glyphicon glyphicon-menu-hamburger"></span></button>
      <a href="/" class="navbar-brand">PyBlog</a>
    </div>
    <div class="collapse navbar-collapse" id="collapsemenu">
      <div class="navbar-right">
        {% if user %}
          <a class="btn btn-ghost navbar-btn" href="/logout">Log out</a>
        {% else %}
          <a class="btn btn-ghost navbar-btn" href="/login">Log in</a>
          <a class="btn btn-ghost navbar-btn" href="/signup">Sign up</a>
        {% endif %}

      </div>

      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Posts</a></li>
        <li><a href="#">New Post</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="content container">
  {% block content %}
  {% endblock %}
</div> <!-- end container-->

<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>