{% extends "base.html" %}

{% block content %}
  {% if user %}
    <h2>Welcome {{ user.username }}!</h2>
  {% endif %}
  <div class="row">
    <div class="col-xs-12">
      <h1>Latest Posts:</h1>
    </div>
  </div>

  {% if posts|length > 0 %}
    <div class="row">
      {% for post in posts %}
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <h3><a href="/{{ post.key().id() }}">{{ post.subject }}</a>
                  <div class="small">{{ post.created.strftime('%B %d, %Y') }} by <a
                      href="#">{{ post.author.username }}</a></div>
                </h3>
              </div>
            </div>
            <div class="panel-body">
              <p>{{ post.content[:100] }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
