{% extends "base.html" %}

{% block content %}
  {% if username %}
    <h2>Welcome {{ username }}!</h2>
  {% endif %}
  <div class="row">
    <div class="col-xs-12">
      <h1>Latest Posts:</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><a href="#">Dignissimos Magni</a>
              <div class="small">February 25, 2016 by <a href="#">Charlie Cote</a></div>
            </h3>
          </div>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam soluta reiciendis quidem vitae dolores, sed
            architecto cum ab, dignissimos magni cupiditate voluptatum minima obcaecati dolor eaque sapiente, nisi
            itaque!
            Doloribus.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><a href="#">Doloribus</a>
              <div class="small">February 25, 2016 by <a href="#">Samuel Gonzáles</a></div>
            </h3>
          </div>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, pariatur, saepe. Quis optio impedit
            consequatur harum voluptatem ipsum praesentium, sunt, in a quasi pariatur iste similique alias eum eius
            doloribus.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><a href="#">Voluptatem</a>
              <div class="small">February 23, 2016 by <a href="#">Nargis Mia</a></div>
            </h3>
          </div>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet perferendis reprehenderit excepturi
            maxime
            perspiciatis consequuntur, minima ratione iure quo reiciendis distinctio inventore maiores ullam nemo
            placeat
            laudantium tempora ea at!</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><a href="#">Perspiciatis Consequuntur</a>
              <div class="small">February 22, 2016 by <a href="#">Jazmín Aguirre</a></div>
            </h3>
          </div>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis tempore nam odio quo ab sunt illum
            animi at iure ratione necessitatibus, sint optio quibusdam libero eius consequatur, rerum veniam maxime.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><a href="#">Perferendis Tempore Nam Odio</a>
              <div class="small">February 18, 2016 by <a href="#">Erika Gaytán</a></div>
            </h3>
          </div>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet numquam ipsum est at magnam impedit,
            commodi neque. Velit nulla, impedit totam et iure deleniti ducimus placeat itaque obcaecati? Labore,
            odit.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><a href="#">Velit Nulla</a>
              <div class="small">February 16, 2016 by <a href="#">Stephanie Walsh</a></div>
            </h3>
          </div>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laudantium, dolorum vero nisi animi
            officiis velit in quisquam vitae, iusto eos similique, hic cumque et. Nostrum neque reiciendis similique
            hic.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3><a href="#">Quisquam Vitae</a>
              <div class="small">February 15, 2016 by <a href="#">Lucy Baumann</a></div>
            </h3>
          </div>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quis, at. Non, odio laudantium quaerat
            asperiores voluptatibus incidunt, ipsa pariatur! Dolor magnam facilis ipsa praesentium in deleniti vero eos
            ullam!</p>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
