{% extends "base.html" %}
{% block content %}
  <form id="new-post-form" method="post">
    <fieldset>
      <legend>Write a new post</legend>
      <div class="form-group">
        <label for="subject">Title</label>
        <input name="subject" class="form-control input-lg" type="text" id="subject" placeholder="Post title" value="{{ subject }}">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" class="form-control" id="content" rows="5"></textarea>
      </div>
    </fieldset>
    <br>
    <input class="btn btn-primary" type="submit" value="Submit Post!">
  </form>
{% endblock %}