{% extends "base.html" %}

{% block content %}
  <form action="/signup" method="post">
    <label>
      Username:
      <input type="text" name="username" value="{{ username }}">
    </label>
    {% if error_username %}
      <span style="color: red;">{{ error_username }}</span>
    {% endif %}
    <br><br>
    <label>
      Password:
      <input type="password" name="password">
    </label>
    {% if error_password %}
      <span style="color: red;">{{ error_password }}</span>
    {% endif %}
    <br><br>
    <label>
      Re-type Password:
      <input type="password" name="verify">
    </label>
    {% if error_verify %}
      <span style="color: red;">{{ error_verify }}</span>
    {% endif %}
    <br><br>
    <label>
      Email:
      <input type="text" name="email" value="{{ email }}">
    </label>
    {% if error_email %}
      <span style="color: red;">{{ error_email }}</span>
    {% endif %}
    <br><br>
    <input type="submit" value="Sign Up!">
  </form>
{% endblock %}